.container {
    scroll-margin-top: 150px
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    margin-top: 20px;
    width: 55%;
    margin-left: 440px;
}

@media (max-width: 768px) {
    .projects {
        grid-template-columns: 1fr;
        margin-left: 180px;
    }
}

@media (max-width: 1260px) {
    .projects {
        width: 70%;
        margin-left: 150px;
    }
}

.projectImage, .project1 {
    width: 100%;
    aspect-ratio: 16 / 9;
    background: linear-gradient(90deg, rgba(240, 154, 149, 1) 0%, rgba(165, 203, 180, 1) 78%);
    cursor: pointer;
    position: relative;
    border-radius: 0.8rem;
    overflow: hidden;
}

.projectImage img {
    width: 85%;
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 20%;

    transition: 0.25s all;

    border-radius: 8px;
}

.project1 img {
     position: absolute;
     bottom: 0;
     left: 50%;
     translate: -50% 2%;

     transition: 0.25s all;

     border-radius: 8px;
}


.projectCopy {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projectTitle {
    font-weight: bold;
    font-size: 25px;

    max-width: calc(100% - 150px);

    color: #2E282A;
}

.projectTitleLine {
    display: flex;
    gap: 8px;
}

.projectTitleLine a {
    opacity: 0.75;
    transition: 0.25s opacity;
}

.projectTitleLine a:hover {
    opacity: 1;
}

.projectDescription {
    font-size: 18px;
}

.projectDescription span {
    display: inline-block;

    font-weight: 400;
    color: palevioletred;

    cursor: pointer;
}

.projectDescription span:hover {
    text-decoration: underline;
}

.projectTech {
    color: palevioletred;
    margin: 10px 0;
    font-size: 18px;
}